.home {
  display: grid;
  grid-template-areas:
    'banner'
    'products1'
    'artists-apparel'
    'products2'
    'collection'
    'products3';
  grid-row-gap: 148px;
  width: 100%;
}

/*============================ Background ============================*/
:root {
  --home-background__1: url(https://firebasestorage.googleapis.com/v0/b/owslagoods-fbf3b.appspot.com/o/backgrounds%2Ffondo-1.webp?alt=media&token=5e08d56b-612d-4a14-8dee-0e1add2e6057);
  --home-background__2: url(https://firebasestorage.googleapis.com/v0/b/owslagoods-fbf3b.appspot.com/o/backgrounds%2Ffondo-2.webp?alt=media&token=0b7bd60f-f84a-4b79-93fc-c934d2a89f2f);
  --home-background__3: url(https://firebasestorage.googleapis.com/v0/b/owslagoods-fbf3b.appspot.com/o/backgrounds%2Ffondo-3.webp?alt=media&token=da292b82-ba49-4fa5-9fa5-aacc58d591fa);
}

.home-background__1,
.home-background__2,
.home-background__3 {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-size: cover;
  background-position: top;
}
.home-background__1 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 100vw;
  height: 890px;
  object-fit: cover;
  background-image: var(--home-background__1);
}
.home-background__2 {
  top: -350px;
  left: 50%;
  transform: translate(-50%,0);
  width: 100vw;
  height: 800px;
  object-fit: cover;
  background-image: var(--home-background__2);
}
.home-background__3 {
  left: 0;
  bottom: 0;
  height: 1000px;
  background-image: var(--home-background__3);
}

.items-list-box{
  @extend %container-center;
}

/*====================================================================*/

.banner {
  @extend %container-center;
  grid-area: banner;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 70px;
}

.banner__box {
  padding-left: 2rem;
  border-left: solid 4px #fff;
  .banner__title,
  .banner__subtitle {
    font-family: "MonumentExtended";
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 600px;
    text-shadow: 0px 4px 2px rgba(12, 12, 12, 0.16);
    letter-spacing: 0.08em;
  }

  .banner__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 125%;
  }

  .banner__subtitle {
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
  }
}

.banner__imgs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 2rem;
  img {
    width: 160px;
    height: 230px;
    object-fit: cover;
    border: 3px solid #ffffff;
  }
}

.banner__img{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 600px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



/*====================================================================*/

.artists-apparel {
  @extend %container-center;
  display: grid;
  position: relative;
  grid-template-areas:
    "title img1 img2 btn"
    "title img1 img2 img3";
  grid-template-rows: min-content 1fr;
  width: 100%;
  gap: 52px;
}

.artists-apparel .box-title-white {
  grid-area: title;
}

.artists-apparel .vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: fit-content;
  width: 72px;
}

.artists-apparel .vertical svg {
  writing-mode: horizontal-tb;
  transform: rotate(90deg);
}

.artists-apparel .btn-swb {
  grid-area: btn;
  justify-self: flex-end;
}

.artists-apparel img {
  object-fit: cover;
  border: 4px solid #ffffff;
}

.artists-apparel img:nth-child(3) {
  grid-area: img1;
  width: 350px;
  height: 500px;
}

.artists-apparel img:nth-child(4) {
  margin-top: 52px;
  grid-area: img2;
  width: 200px;
  height: 320px;
}

.artists-apparel img:nth-child(5) {
  grid-area: img3;
  width: 250px;
  height: 380px;
}

/*====================================================================*/

.collection {
  @extend %container-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
  width: 100%;
}

.collection-box1 .box-title-black,
.collection-box2 .box-title-black {
  position: absolute;
  top: 42px;
}
.collection-box1 .box-title-black {
  left: 0px;
}
.collection-box2 .box-title-black {
  right: 0px;
}

.collection-box1,
.collection-box2 {
  position: relative;
  display: flex;
  width: 100%;
  gap: 48px;
}

.collection-box1 {
  justify-content: flex-end;
}
.collection-box2 {
  justify-content: flex-start;
}

.collection-box1 img,
.collection-box2 img {
  width: 300px;
  height: 370px;
  object-fit: cover;
}

/*====================================================================*/

.footer {
  @extend %container-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 354px;
  background: rgba(50, 50, 50, 0.64);
  border: 4px solid #ffffff;
  backdrop-filter: blur(5px);
  margin-bottom: 120px;
}
