
.product-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    background: #FFFFFF;
}

.product-detail__img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    transition: ease-in-out .45s;
}

.product-detail__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0;
    
}

.product-detail__name{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.product-detail__price{
    font-size: 1.25rem;
    margin-bottom: 4rem;
}

.product-detail__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: #000000;
    width: fit-content;
    padding: 1.2rem 2rem;
    margin-bottom: 4rem;

    cursor: pointer;
    transition: ease-in-out .5s;
}


.product-detail__btn-title{
    font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    line-height: calc(150%);
    letter-spacing: 0.2rem;
    font-weight: 300;
    white-space: nowrap;
    -webkit-text-stroke: thin;
    text-transform: uppercase;
    margin-top: .2rem;
}

.product-detail__item-count{
    margin-bottom: 4rem;
}

.product-detail__description{
    font-family: 'MonumentExtended';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 1rem;
}

.product-detail__text{
    font-family: 'MonumentExtended';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #3F3F3F;

}

