.checkout {
  @extend %container-center; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: flex-start;
  padding: 42px;
  gap: 42px;
  background: #FFFFFF;
  
  width: 100%;
  height: min-content;
  
  @include respond(md) {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;    
  }

  .checkout__box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    .checkout__breadcrumb {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: .8rem;
      align-items: center;

      button {
        @include font(fc, w400, MonumentE);
        white-space: nowrap;
        align-items: center;
        color: $cGrey6;
      }

      .btn-active {
        color: #000000;
      }
    }

    .checkout__title {
      @include font(ft2, w400, MonumentE);
      text-align: center;
      text-transform: uppercase;
      color: #000000;

    }

    .checkout-form {
      display: grid;
      grid-template-areas: 
        'firstName lastName'
        'email email'
        'telephone telephone'
        'btns btns';
      width: 100%;
      gap: 2rem;

      .checkout-form__item {
        position: relative;
        width: 100%;
        border-bottom: 2px solid $cGrey6;
      }

      .form-first-name {
        grid-area: firstName;
      }

      .form-last-name {
        grid-area: lastName;
      }

      .form-email {
        grid-area: email;
      }

      .form-phone {
        grid-area: telephone;
      }

      .checkout-form__input {
        width: 100%;
        height: 40px;
        @include font(fb2, w400, MonumentE);
        padding: 8px;
      }

      .checkout-form__label {
        position: absolute;
        @include font(fb2, w400, MonumentE);
        color: $cGrey6;
        left: 8px;
        top: -25%;
        font-size: 12px;
        transition: all 0.4s;
      }

      .checkout-form__item>input[placeholder=" "]:not(:focus):placeholder-shown+.checkout-form__label {
        top: 25%;
        transition: all 0.4s;
      }

      .checkout__btns {
        grid-area: btns;
      }
    }
  }

  .divider{
    height: 2px;
    width: 100%;
    background-color: $cGrey7;
    @include respond(md){
      height: 100%;
      width: 2px;
    }
  }
  .checkout__box2 {
    .checkout__img {
      grid-area: img;
      height: 100%;
      max-height: 90px;
      aspect-ratio: 1/1;
      border-radius: 0.25rem;
      object-fit: cover;
    }

    .checkout__name {
      @include font(fb2, w400, MonumentE);
      color: #000000;

    }

    .checkout__price {
      @include font(fb2, w400, MonumentE);
      color: #000000;


    }
  }
}












.checkout__btns,
.checkout__box2-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  @include respond(xs){
    flex-direction: row;
  }
}