$cWhite: #ffffff;
$cGrey1: #FAFAFA;
$cGrey2: #F0F0F0;
$cGrey3: #DBDBDB;
$cGrey4: #C2C2C2;
$cGrey5: #9E9E9E;
$cGrey6: #7A7A7A;
$cGrey7: #575757;
$cGrey8: #3D3D3D;
$cGrey9: #292929;
$cGrey10: #1F1F1F;
$cBlack: #000000;