.product {
  @include flex(column);
  align-items: center;

  .product__box {
    position: relative;
    overflow: hidden;
    width: 100%;

    .product__img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
      transition: ease-in-out 0.45s;
    }

    &:hover .product__img {
      transform: scale(1.1);
      transition: ease-in-out 0.45s;
    }

    .product__btn {
      position: absolute;
      bottom: -1%;
      left: 50%;
      transform: translate(-50%, 0);

      @include font(fb2, w300, MonumentE, lsWidest);
      color: $cWhite;
      white-space: nowrap;
      text-transform: uppercase;
      -webkit-text-stroke: thin;

      background: $cBlack;
      width: fit-content;
      opacity: 0;
      padding: .8rem 1.2rem;
      cursor: pointer;
      transition: ease-in-out 0.5s;
    }

    &:hover .product__btn {
      bottom: 10%;
      opacity: 1;
      transition: ease-in-out 0.5s;
    }
  }

  .product__item-name {
    @include font(fb2, w400, MonumentE);
    text-align: center;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 100%;
    margin: 1rem 0;
  }

  .product__item-price {
    @include font(fb1, w400, MonumentE);
    text-align: center;
  }
}
