$default-background: url(https://firebasestorage.googleapis.com/v0/b/owslagoods-fbf3b.appspot.com/o/backgrounds%2Ffondo-4.webp?alt=media&token=67f88ba8-6d1c-4d8d-a769-8a5b64b26d3b);


/* -------------------- Background -------------------- */

.default-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-image: $default-background;
  height: 1000px;
}

