
:root{
  --default-background: url(https://firebasestorage.googleapis.com/v0/b/owslagoods-fbf3b.appspot.com/o/backgrounds%2Ffondo-4.webp?alt=media&token=67f88ba8-6d1c-4d8d-a769-8a5b64b26d3b);
}


.App{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-100 {
  width: 100%!important;
}
.position-relative {
  position: relative!important;
}
.overflow-hidden {
  overflow: hidden!important;
}

/* -------------------- Background -------------------- */

.default-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-image: var(--default-background);
  height: 1000px;
}


/*========================================================*/


.btn-sbb,.btn-swb,.btn-sbs,.btn-sws,
.btn-obb,.btn-owb,.btn-obs,.btn-ows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 24px;
}


.btn-obb,.btn-obs{  border: solid 2px #ffffff;}
.btn-owb,.btn-ows{  border: solid 2px #000000;}

.btn-sbb,.btn-sbs,.btn-obb,.btn-obs{  background: #000000;}
.btn-swb,.btn-sws,.btn-owb,.btn-ows{  background: #ffffff;}

.btn-sbb,.btn-swb,.btn-obb,.btn-owb{  height: 54px; padding: 0px 32px 0px;}
.btn-sbs,.btn-sws,.btn-obs,.btn-ows{  height: 42px; padding: 0px 24px 0px;}

.btn-sbb .btn-text,.btn-sbs .btn-text,.btn-obb .btn-text,.btn-obs .btn-text{  color: #000000;}
.btn-sbb .btn-text,.btn-sbs .btn-text,.btn-obb .btn-text,.btn-obs .btn-text{  color: #ffffff;}

.btn-text, .btn-inline{
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  padding-top: 4px;

}

.btn-text{
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
}

.btn-text-inline{
  font-size: 12px;
  line-height: 16px;
  color: #3C3C3C;
}


/*-----------------*/


.box-title-black, .box-title-white{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  height: 72px;
}

.box-title-black{  background: #000000; color: #FFFFFF;}
.box-title-white{  background: #ffffff; color: #000000;}


.box-title-black line {  stroke: #ffffff;}
.box-title-white line {  stroke: #000000;}

.box-title-text{
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;

}


/*========================================================*/


.item-skeleton{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

  .item-skeleton__img{
    width: 100%;
    height: 350px;
    border-radius: 6px;
    margin-bottom: 1rem;


  }

  .item-skeleton__item-name{
    width: 100%;
    height: 48px;
    border-radius: 2px;
    margin-bottom: 1rem;
  
  }

  .item-skeleton__item-price{
    width: 130px;
    height: 28px;
    border-radius: 2px;
  
  }

  .item-skeleton__img, .item-skeleton__item-name, .item-skeleton__item-price{
    background-color: #e5e5e5;
      background: linear-gradient(110deg , #e5e5e5 15%, #f2f2f2 25%, #e5e5e5 35%);
      background-size: 200% 100%;
      animation: loopBg 2s linear infinite;
  }

  @keyframes loopBg {
    to {
      background-position-x: -200%;
    }
}


.items-list-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 48px;
  width: 100%;
}

.items-list-box__title{
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}