.cartWitget {
  position: relative;
  display: flex;

  .cartWitget_bag {
    cursor: pointer;
  }

  .cartWitget_count {
    position: absolute;
    display: flex;
    top: -40%;
    right: -60%;
    background: black;
    border: solid 3px #ffffff;
    width: fit-content;
    min-width: 26px;
    height: 26px;
    border-radius: 30px;
    padding: 0.1rem 0.3rem 0;
    color: #ffffff;
    justify-content: center;
    font-size: 9px;
    align-items: center;
  }
}
