.product-detail {
  @extend %container-center;
  @include flex(column);
  justify-content: center;

  background: #ffffff;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0px 0px 80px rgb(0 0 0 / 14%);

  @include respond(md){
    @include flex();
  }

  .product-detail__imgsbox{
    @include flex(column);
    width: 100%;
    gap: 1rem;
    @include respond(xs){
      @include flex();
    }


    .product-detail__imgBox--show{
      width: 100%;

      .product-detail__img--show{
        width: 100%;
        height: 620px;
        object-fit: cover;
        @include respond(xs){
          object-fit: contain;
          aspect-ratio: 11/14;
          height: 420px;
        }
        @include respond(md){
          object-fit: cover;
        }
      }
    }

    .product-detail__imgs{
      @include flex(row-reverse);
      justify-content: center;
      gap: 1rem;
      
      @include respond(xs){
        justify-content: flex-end;
        @include flex(column-reverse);
      }

      .product-detail__img {
        cursor: pointer;
        width: calc(50% - 0.5rem);
        aspect-ratio: 1/1;
        object-fit: cover;
        border: 2px solid #EAEAEA;
        @include respond(xs){
          width: 150px;
        }
        @include respond(md){
          width: 100px;
        }
      }
    }

  }

  .product-detail__info,
  .product-detail__box,
  .product-detail__description {
    @include flex(column);
    align-items: flex-start;
  }

  .product-detail__info {
    padding: .5rem 0;
    gap: 2rem;
    .product-detail__box {
      gap: 1rem;
      .product-detail__name {
        @include font(ft2, w400, MonumentE);
      }
      .product-detail__price {
        @include font(ft2, w400, MonumentE);
      }
    }
    .product-detail__description {
      gap: 1rem;
      .product-detail__title {
        @include font(fhl1, w400, MonumentE);
        color: #000000;
      }

      .product-detail__text {
        @include font(fb1, w400, MonumentE);
        color: #3f3f3f;
      }
    }
  }
}
