
.App{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-100 {
  width: 100%!important;
}
.position-relative {
  position: relative!important;
}
.overflow-hidden {
  overflow: hidden!important;
}

/* -------------------- Background -------------------- */

.main-merch__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; 
  background: url(./assets/img/main-merch.jpg);
  background-size: cover;
  background-position: center;
  height: 800px; 
}

  .main-merch .main-merch__background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent);
}



/* ---------- Merch list ---------- */


  .btn_bag{
    cursor: pointer;
  }

  .offcanvas-background{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    opacity: 0;
    transition: all .5s ease-in-out;
    
  }
  .offcanvas-background--active {

    opacity: .5;
    transition: all .5s ease-in-out;
  }

  .bag{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-left: 1px solid rgba(0,0,0,.2);
    outline: 0;
    z-index: 2000;
    transition: all .5s ease-in-out;
    transform: translateX(100%);
  }
  .offcanvas--active {
    transition: all .5s ease-in-out;
    transform: none;

  }


    .bag__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem;
    }
      .bag__header-title{
        font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
        line-height: calc(120%);
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: #000000;
        text-align: center;
        font-size: clamp(1.5rem, 4vw, 2rem);

      }
      .btn-close {
        box-sizing: content-box;
        width: 1rem;
        height: 1rem;
        color: #000;
        background: transparent url("./assets/img/btn-clouse.svg") center/1.3rem auto no-repeat;
      }

    .bag__body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1rem 1rem;
      overflow-y: auto;

    }

      .bag-product {
        display: grid;
        grid-template-areas:'img title title'
                            'img price cant'
                            'img space space';
        column-gap: 2rem;
        row-gap: 1rem;
        margin-bottom: 1rem;
      }

        .bag-product__img {
          grid-area: img;
          width: clamp(100px, 30vw, 200px);
          height: 190px;
          border-radius: 0.25rem;
          object-fit: cover; 
        }
        .bag-product__title {
          font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
          font-size: clamp(1rem, 3.75vw, 1.125rem);
          line-height: calc(140%);
          font-weight: 500;
          letter-spacing: 0.05rem;
          color: #000000;
          grid-area: title;
          margin: 1rem 0 .5rem 0; 
        }
        .bag-product__price {
          grid-area: price;
          font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
          font-size: 1.1rem;
          align-self: center; 
        }


        
    .bag__total{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-top: 1px solid #212529;

    }
      .bag__total-price{
        font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
        font-size: clamp(1rem, 3.75vw, 1.125rem);
        line-height: calc(140%);
        font-weight: 500;
        letter-spacing: 0.05rem;
        color: #000000;
      }
      .bag__total-btn{
        font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
        font-size: 1rem;
        line-height: calc(150%);
        letter-spacing: 0.2rem;
        font-weight: 300;
        white-space: nowrap;
        text-transform: uppercase;
        -webkit-text-stroke: thin;
        width: fit-content;
        cursor: pointer;
        transition: ease-in-out .3s;
        padding: 1rem 1.5rem;
        color: #ffffff;
        background: #000000;
      }


  




/*========================================================*/




.item-skeleton{
  width: 100%;
  height: 100%;
  min-height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

  .item-skeleton__img{
    width: 100%;
    height: 450px;
    border-radius: 6px;
    margin-bottom: 1rem;


  }

  .item-skeleton__item-name{
    width: 100%;
    height: 48px;
    border-radius: 2px;
    margin-bottom: 1rem;
  
  }

  .item-skeleton__item-price{
    width: 130px;
    height: 28px;
    border-radius: 2px;
  
  }

  .item-skeleton__img, .item-skeleton__item-name, .item-skeleton__item-price{
    background-color: #e5e5e5;
      background: linear-gradient(110deg , #e5e5e5 15%, #f2f2f2 25%, #e5e5e5 35%);
      background-size: 200% 100%;
      animation: loopBg 2s linear infinite;
  }

  @keyframes loopBg {
    to {
      background-position-x: -200%;
    }
}