
.App{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-100 {
  width: 100%!important;
}
.position-relative {
  position: relative!important;
}
.overflow-hidden {
  overflow: hidden!important;
}

/* -------------------- Background -------------------- */

.main-merch__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; 
  background: url(./assets/img/main-merch.jpg);
  background-size: cover;
  background-position: center;
  height: 800px; 
}

  .main-merch .main-merch__background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent);
}



/*========================================================*/


.item-skeleton{
  width: 100%;
  height: 100%;
  min-height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

  .item-skeleton__img{
    width: 100%;
    height: 450px;
    border-radius: 6px;
    margin-bottom: 1rem;


  }

  .item-skeleton__item-name{
    width: 100%;
    height: 48px;
    border-radius: 2px;
    margin-bottom: 1rem;
  
  }

  .item-skeleton__item-price{
    width: 130px;
    height: 28px;
    border-radius: 2px;
  
  }

  .item-skeleton__img, .item-skeleton__item-name, .item-skeleton__item-price{
    background-color: #e5e5e5;
      background: linear-gradient(110deg , #e5e5e5 15%, #f2f2f2 25%, #e5e5e5 35%);
      background-size: 200% 100%;
      animation: loopBg 2s linear infinite;
  }

  @keyframes loopBg {
    to {
      background-position-x: -200%;
    }
}