
.App{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-100 {
  width: 100%!important;
}
.position-relative {
  position: relative!important;
}
.overflow-hidden {
  overflow: hidden!important;
}

/* -------------------- Background -------------------- */

.main-merch__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; 
  background: url(./assets/img/main-merch.jpg);
  background-size: cover;
  background-position: center;
  height: 800px; 
}

  .main-merch .main-merch__background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent);
}

/* -------------------- Header -------------------- */
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;

}

  .header__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 2rem 1rem;
    width: 100%;

    background: rgba(0, 0, 0, 0.15);
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: #FFFFFF;
    backdrop-filter: blur(5px);
  }

    .header__logo-text{
      font-family: 'Barlow Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 96px;
      line-height: 115px;
      text-align: center;
      color: #FFFFFF;

    }

    .header__logo-img {
      max-height: 100px;
      content: url(./assets/img/owslaLogo.svg); 
    }

  .header__nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    width: 100%;
    min-height: 60px;
  }

  /*-----------------------------*/

#burger {
  display: none;
}
  #burger:checked + .burger-btn > .burger {
    height: 0; 
  }
  #burger:checked + .burger-btn > .burger::before {
    top: 0;
    width: 34px;
    transform: rotate(-45deg);
    transition: all .5s; 
  }
  #burger:checked + .burger-btn > .burger::after {
    top: 0;
    width: 34px;
    transform: rotate(45deg);
    transition: all .5s; 
  }
  #burger:checked ~ .nav {
    min-height: calc(100vh - 252px);
    transition: all 1s; 
  }

/*-----------------------------*/

.burger-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 34px;
  width: 34px;
  cursor: pointer; 
}
  .burger {
    position: relative;
    width: 34px; 
  }
    .burger::before {
      top: -10px;
      width: 22px;
      transition: all .5s; 
    }
    .burger::after {
      top: 10px;
      width: 28px;
      transition: all .5s; 
    }

  .burger,
  .burger::before,
  .burger::after {
    height: 3px;
    border-radius: 5px;
    background-color: #000000; 
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0; 
  }

/* ---------- Navbar ---------- */


.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  height: 0;
  min-height: 0;
  z-index: 1000;
  transition: all 1s;
  overflow: hidden; 
}
  .nav--column {
    flex-direction: column;
    align-items: flex-start; 
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
    gap: 1.5rem;
  }
    .nav__item {
      display: flex;
      width: auto;
      
    }
      .nav__link--black {
        position: relative;
        color: #000000;
        font-size: .95rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 500;
        line-height: calc(150%);
        -webkit-text-stroke: 0; 
      }
      .nav__link--black::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        border-radius: 4px;
        transition: all .5s;
        background-color: transparent; 

      }
      .nav__item--active .nav__link--black::after{
        background-color: #3c3c3c;
        width: 100%;
      }

/* ---------- Merch list ---------- */

.main-merch__list {
  background: #ffffff;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  padding:2rem;
  gap: 2rem; 
  margin-top: 2rem;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
  .product__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: ease-in-out .45s; 
  }
  .product:hover .product__img {
    transform: scale(1.2) translate(0, 30px);
    transition: ease-in-out .45s; 
  }

  .product__btn {
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, 0);
    
    font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif; 
    font-size: .8rem;
    color: #ffffff;
    line-height: calc(150%);
    letter-spacing: 0.2rem;
    font-weight: 300;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-text-stroke: thin;
    
    background: #000000; 
    width: fit-content;
    opacity: 0;
    padding: 1rem 1.5rem; 
    cursor: pointer;
    transition: ease-in-out .5s;
  }
  .product:hover .product__btn {
    bottom: 10%;
    opacity: 1;
    transition: ease-in-out .5s; 
  }

  .product__item-name {
    text-align: center;
    margin: 1rem 0; 
  }
  .product__item-price {
    text-align: center; 
  }

  .bag {
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid rgba(0,0,0,.2);
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* visibility: hidden; */
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    width: 600px;
    z-index: 2000;

  }

    .offcanvas-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000;
      opacity: .5;
      z-index: 1000;
    }

    .bag__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1rem;
    }
      .bag__header-title{
        font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
        line-height: calc(120%);
        font-weight: 500;
        letter-spacing: 0.1rem;
        color: #000000;
        text-align: center;
        font-size: clamp(1.5rem, 4vw, 2rem);

      }
      .btn-close {
        box-sizing: content-box;
        width: 1rem;
        height: 1rem;
        color: #000;
        background: transparent url("./assets/img/btn-clouse.svg") center/1.3rem auto no-repeat;
      }

    .bag__body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1rem 1rem;
      overflow-y: auto;

    }

      .bag-product {
        display: grid;
        grid-template-areas:'img title title'
                            'img price cant'
                            'img space space';
        column-gap: 2rem;
        row-gap: 1rem;
        margin-bottom: 1rem;
      }

        .bag-product__img {
          grid-area: img;
          width: clamp(100px, 30vw, 200px);
          height: 190px;
          border-radius: 0.25rem;
          object-fit: cover; 
        }
        .bag-product__title {
          font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
          font-size: clamp(1rem, 3.75vw, 1.125rem);
          line-height: calc(140%);
          font-weight: 500;
          letter-spacing: 0.05rem;
          color: #000000;
          grid-area: title;
          margin: 1rem 0 .5rem 0; 
        }
        .bag-product__price {
          grid-area: price;
          font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
          font-size: 1.1rem;
          align-self: center; 
        }


        .cant-product {
          display: flex;
          justify-content: end;
          align-items: center;
          grid-area: cant; 
        }
          .cant-product__btn {
            font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
            font-size: .8rem;
            line-height: calc(150%);
            letter-spacing: 0.2rem;
            white-space: nowrap;
            font-weight: 500;
            text-transform: uppercase;
            -webkit-text-stroke: thin;
            cursor: pointer;
            transition: ease-in-out .3s;

            height: 26px;
            width: 26px;
            padding: 0;
            padding-top: 0.1rem;
            padding-left: 0.2rem;

            color: #000000;
            border: solid 2px #000000; 
          }

          .cant-product__btn:disabled{
            color: #7b7b7b;
            border: solid 2px #7b7b7b; 
          }

          .cant-product__num{
            line-height: calc(140%);
            font-weight: 500;
            letter-spacing: 0.1rem;
            color: #000000;
            /* margin: 0 1rem; */
            width: 55px;
            text-align: center;
          }

    .bag__total{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-top: 1px solid #212529;

    }
      .bag__total-price{
        font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
        font-size: clamp(1rem, 3.75vw, 1.125rem);
        line-height: calc(140%);
        font-weight: 500;
        letter-spacing: 0.05rem;
        color: #000000;
      }
      .bag__total-btn{
        font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif;
        font-size: 1rem;
        line-height: calc(150%);
        letter-spacing: 0.2rem;
        font-weight: 300;
        white-space: nowrap;
        text-transform: uppercase;
        -webkit-text-stroke: thin;
        width: fit-content;
        cursor: pointer;
        transition: ease-in-out .3s;
        padding: 1rem 1.5rem;
        color: #ffffff;
        background: #000000;
      }



@media screen and (min-width: 1024px) {

  /* -------------------- Header / Navbar -------------------- */

  .header__nav{
    min-height: 80px;
  }
    .burger {
      display: none; 
    }
      .header__logo-img {
        max-height: 100px;
        /* content: url(./assets/image/owslaLogo.svg); */
      }
      .burger-btn {
        display: none; 
      }
    
  /* ---------- Navbar ---------- */
  .nav {
    flex-direction: row;
    position: relative;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    max-height: 100%;
  }
    .nav--column {
      flex-direction: column;
      align-items: flex-start;
    }
    .nav__list {
      flex-direction: row;
      width: fit-content;
    }
      .nav__item{
        background-color: transparent; 
      } 
        
      .nav__link {
        padding: 0;
        color: #ffffff;
        -webkit-text-stroke: 0.5px #ffffff;
      }
      .nav__link::after {
        bottom: -8px;
      }

      .nav__link--black:hover::after {
        background-color: #3c3c3c; 
      } 

}


@media screen and (min-width: 1440px) {
  .header, .main-merch__list  {
    width: 80%;
    min-width: 1440px; 
  } 
}


  