.collection {
  @extend %container-center;
  display: grid;
  grid-template-areas:
    "title"
    "collection1"
    "collection2"
    "btn";
  justify-items: center;
  width: 100%;

  .collection__backgound1,
  .collection__backgound2 {
    grid-area: collection;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 480px;
    @include respond(sm) {
      width: 82vw;
      height: 280px;
    }
  }

  .collection__backgound1 {
    top: 76px;
    right: 0;
    background: linear-gradient(90deg, rgba(80, 119, 136, 0.98) 1.66%, #d3f4ff 99.99%);
    box-shadow: inset 0px 4px 93px rgba(0, 209, 255, 0.25);
  }

  .collection__backgound2 {
    top: 1532px;
    left: 0;
    background: linear-gradient(-90deg, rgba(68, 68, 68, 0.98) 1.66%, rgba(210, 210, 210, 0.56) 99.99%);
    box-shadow: inset 0px 4px 93px rgba(0, 0, 0, 0.25);
    @include respond(xs) {
      top: 1092px;
    }
    @include respond(sm) {
      top: 562px;
    }
  }

  /*------------------------*/

  .collection__title {
    grid-area: title;
    @include font(ft2, w400, MonumentE,lsWider);
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $cBlack;
    margin-bottom: 84px;
  }

  .collection__box {
    grid-area: collection1;
    display: grid;
    grid-template-areas:
      "namebox"
      "img1"
      "img2"
      "img3";
    grid-template-rows: 66px 400px 400px 400px;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 84px;
    width: 100%;
    gap: 32px;
    @include respond(xs) {
      grid-template-areas:
        "namebox namebox"
        "img1 img2"
        "img3 img4";
      grid-template-rows: 66px 400px 400px;
      grid-template-columns: 1fr 1fr;
    }
    @include respond(sm) {
      grid-template-areas:
        "img1 namebox namebox"
        "img1 img2 img3";
      grid-template-rows: 66px 300px;
      grid-template-columns: 300px 1fr 1fr;
      gap: 48px;
    }
    @include respond(md) {
      grid-template-areas:
        "img1 namebox namebox namebox"
        "img1 img2 img3 img4";
      grid-template-rows: 66px 286px;
      grid-template-columns: 300px 1fr 1fr 1fr;
    }

    &.reverse {
      grid-area: collection2;
      display: grid;
      margin-bottom: 48px;
      @include respond(sm) {
        grid-template-areas:
          "namebox namebox img1"
          "img3 img2 img1";
        grid-template-rows: 66px 300px;
        grid-template-columns: 1fr 1fr 300px;
      }
      @include respond(md) {
        grid-template-areas:
          "namebox namebox namebox img1"
          "img4 img3 img2 img1";
        grid-template-rows: 66px 286px;
        grid-template-columns: 1fr 1fr 1fr 300px;
      }

      .collection__nameBox {
        flex-direction: row-reverse;
      }
    }

    .collection__nameBox {
      grid-area: namebox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 32px;

      & > svg {
        display: none;
      }

      @include respond(xs) {
        & > svg {
          display: flex;
        }
      }

      .collection__lines {
        width: 100%;
        height: 100%;
      }
    }

    img {
      height: 100%;
      width: 350px;
      object-fit: cover;
      border: 4px solid #ffffff;
      @include respond(xs) {
        width: 100%;
      }
    }
    .img1 {
      grid-area: img1;
    }
    .img2 {
      grid-area: img2;
    }
    .img3 {
      grid-area: img3;
    }
    .img4 {
      grid-area: img4;
      display: none;
      @include respond(xs) {
        display: block;
      }
      @include respond(sm) {
        display: none;
      }
      @include respond(md) {
        display: block;
      }
    }
  }

  .btn-owb {
    grid-area: btn;
  }
}
