.nav {
  @include flex(row, wrap);
  justify-content: center;

  .nav__list {
    @include flex(column);
    align-items: center;
    gap: 1.5rem;
    @include respond(md) {
      flex-direction: row;
    }
  }
  .nav__item {
    .nav__link--black {
      position: relative;

      @include font(fb2, w500, MonumentE, lsWidest);
      color: $cBlack;
      -webkit-text-stroke: 0;
      text-transform: uppercase;
      line-height: calc(150%);
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        width: 0;
        height: 2px;
        border-radius: 4px;
        transition: all 0.5s;
      }
    }
    .nav__link--black:hover::after,
    .active.nav__link--black::after {
      background-color: #3c3c3c;
      width: 100%;
      left: 0;
    }
  }
}